<%- include('header') %>
    <h4 style="text-align: center;margin-top: 20px;">Add Password</h4>
    <div class="col-md-12 mb-5">
        <div class="row">
            <div class="col-md-4 mx-auto" style="background-color: #cce1ff;border-radius: 10px;">
                <% if(msg != '') {%>
                    <p style="font-weight: bolder;"><%= msg %></p>
                <% } %>    
                <form action="/add-password" method="POST">
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Password Category</label>
                        <select class="form-control" name="category" id="">
                            <option value="">Please Select</option>
                            <% if(categories.length > 0) {
                                categories.forEach((row)=>{
                            %>
                                <option value="<%= row.category_name %>"><%= row.category_name %></option>
                            <% })}%>
                        </select>
                        <% if(typeof errors.category != 'undefined' && errors != '') { %>
                            <p style="color: red;font-weight: bolder;"><%= errors.category.msg %></p>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Project Name</label>
                        <input type="text" name="project" class="form-control" placeholder="Enter project name">
                        <% if(errors!= '' && typeof errors.project != 'undefined') { %>
                            <p style="color: red;font-weight: bolder;"><%= errors.project.msg %></p>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password Details</label>
                        <textarea name="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password Details"></textarea>
                        <% if(errors!= '' && typeof errors.password != 'password') { %>
                            <p style="color: red;font-weight: bolder;"><%= errors.password.msg %></p>
                        <% } %>
                    </div>
                    <center><button type="submit" class="btn btn-primary mb-3">Submit</button></center>
                </form>
                <a href="/view-password">View All Password</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'password' );
    </script>
  <%- include('footer') %>