<%- include('header') %>
    <h4 style="text-align: center;margin-top: 20px;">Edit Password Category</h4>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 mx-auto"style="background-color: #cce1ff;border-radius: 10px;">
                <% if(msg !='') { %>
                    <p style="font-weight: bolder;"><%= msg %></p>
                <% } %>    
                <form action="/edit-password-category" method="POST">
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Category</label>
                    <input type="text" name="category" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter password category" value="<%= details.category_name %>" required>
                    <input type="hidden" name="category_id" value="<%= details._id %>">
                </div>
                <center><button type="submit" class="btn btn-danger mb-3">Update</button></center>
                </form>
                <a href="/view-password-category">View All Categories</a>
            </div>
        </div>
    </div>
<%- include('footer') %>