<%- include('header') %>
    <h4 style="text-align: center;margin-top: 20px;">Edit Password</h4>
    <div class="col-md-12 mb-5">
        <div class="row">
            <div class="col-md-4 mx-auto" style="background-color: #cce1ff;border-radius: 10px;">
                <% if(msg != '') {%>
                    <p style="font-weight: bolder;"><%= msg %></p>
                <% } %>    
                <form action="/update-password" method="POST">
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Password Category</label>
                        <select class="form-control" name="category" id="">
                            <option value="">Please Select</option>
                            <% if(categories.length > 0) {
                                categories.forEach((row)=> {
                                    if(passwordDetails.category_type == row.category_name) {
                                        var attr = 'selected'
                                    } else {
                                        var attr = ''
                                    }
                            %>
                            <option <%= attr %> value="<%= row.category_name %>"><%= row.category_name %></option>
                            <% })}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Project Name</label>
                        <input required type="text" name="project" class="form-control" value="<%= passwordDetails.project_name %>" placeholder="Enter project name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password Details</label>
                        <textarea required name="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password Details"><%= passwordDetails.password_details%></textarea>
                    </div>
                    <input type="hidden" name="password_id" value="<%= passwordDetails._id %>">
                    <center><button type="submit" class="btn btn-danger mb-3">Update</button></center>
                </form>
                <a href="/view-password">View All Password</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'password' );
    </script>
 <%- include('footer') %>