<%- include('header') %>
<div class="container">
    <h2 style="text-align: center;margin-top: 20px;">Password List</h2>
    <div class="col-md-8 mt-3 mx-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Password Category</th>
                <th scope="col">Project Name</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(records.length > 0) {
                    records.forEach((row) => {
                %>        
                <tr>
                    <td><%= row.category_type %></td>
                    <td><%= row.project_name %></td>
                    <td><a data-toggle="modal" data-target="#myModal<%= row._id %>" href="#" class="btn btn-dark">View</a>&nbsp;<a href="/add-password/<%= row._id %>/edit" class="btn btn-info">Edit</a>&nbsp;<a href="/add-password/<%= row._id %>/delete" class="btn btn-danger">Delete</a></td>
                </tr>
                <div class="modal fade" id="myModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title"> <%= row.project_name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                <%- row.password_details %>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                <% })} %>
            </tbody>
        </table>
        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="/view-password/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/view-password/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="/view-password/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>
<%- include('footer') %>