<%- include('header') %>
<div class="container">
    <h2 style="text-align: center;margin-top: 20px;">Password Category List</h2>
    <div class="col-md-8 mx-auto mt-3">
        <table class="table table-striped">
            <thead>
                <tr>    
                <th scope="col">Password Category</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(categories.length > 0) { 
                    categories.forEach(function(row){
                %>        
                    <tr>
                        <td><%= row.category_name %></td>
                        <td><a href="/add-password-category/<%= row._id %>/edit" class="btn btn-info">Edit</a>&nbsp;<a href="/add-password-category/<%= row._id %>/delete" class="btn btn-danger">Delete</a></td>
                    </tr>
                <% })} %>    
            </tbody>
        </table>
    </div>
</div>
<%- include('footer') %>